{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<div style="text-align: center;"><h1>Welcome to {{name}} Pastebin</h1></div>
<form action="/pastedata" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Enter title" maxlength="100">
    </div>
    <div class="form-group shadow-textarea">
        <label for="text">Text</label>
        <textarea class="form-control z-depth-1" name="text" id="text" maxlength="700"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}